<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button color="primary" (click)="closeModal()">
				<ion-icon name="close" color="light"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>
			Filtrar por
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-item margin-bottom>
		<ion-label color="primary" stacked>
			<ion-text color="dark" class="fw500">Nome</ion-text>
		</ion-label>
		<ion-input type="text" placeholder="Ex: Macarrão"></ion-input>
	</ion-item>

	<ion-item>
		<ion-label class="fw500" color="dark">Categoria</ion-label>
		<ion-select [(ngModel)]="organizeby" multiple="true">
			<ion-select-option *ngFor="let item of categories">{{ item.name }}</ion-select-option>
		</ion-select>
	</ion-item>

	<ion-item>
		<ion-label class="fw500" color="dark">Tag</ion-label>
		<ion-select [(ngModel)]="dishtype">
			<ion-select-option *ngFor="let item of tags">{{ item.name }}</ion-select-option>
		</ion-select>
	</ion-item>

	<ion-item margin-bottom>
		<ion-label class="no-margin-bottom">
			<ion-text color="dark" class="fw500">Preço</ion-text>
		</ion-label>

		<ion-range dualKnobs="true" [(ngModel)]="minmaxprice" min="1" max="1000" step="10" class="no-padding-top">
			<ion-label slot="start">
				<ion-text color="primary">$ {{minmaxprice.lower}}</ion-text>
			</ion-label>
			<ion-label slot="end">
				<ion-text color="primary">$ {{minmaxprice.upper}}</ion-text>
			</ion-label>
		</ion-range>
	</ion-item>

	<ion-button expand="full" color="primary" (click)="closeModal()">Filtrar</ion-button>
</ion-content>